@charset "UTF-8";
/* ------------ IMPORTA LOS ARCHIVOS SCSS NECESARIOS PARA PROCESAR ------- */
/* ---------------- VARIABLES -------------------*/
/* ----------------------- GOOGLE FONTS ---------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* --------------------- PARAMETROS GENERALES ---------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ------------ PARAMETROS PARA EL BODY DE CADA PAGINA -------------- */
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif; }

/* ---- PARAMETROS PARA EL CONTENEDOR PRINCIPAL DE CADA PAGINA ------- */
.contenedor {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 0; }
  .contenedor a {
    list-style: none;
    text-decoration: none; }

/* -------------- HEADER PARA TODAS LAS PAGINAS -------------------- */
header {
  background: url(../img/cabecera_fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  /* ---------- PROPIEDADES PARA EL NAV -------------------- */
  /* ----------- PROPIEDADES EN EL CONTENEDOR DEL TITULO APLICANDO MIXIN---------------- */ }
  header nav {
    background-color: transparent; }
    header nav a {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px; }
    header nav .nav-item {
      border-bottom: 2px solid #fff; }
  header .titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
    header .titulos__titulo {
      color: #fff;
      font-size: 50px;
      font-weight: 700;
      padding: auto 10px auto 10px; }
    header .titulos__subtitulo {
      color: #fff;
      font-size: 25px;
      padding: auto 10px auto 10px; }

/*  -------------- MAIN PARA TODAS LAS PAGINAS --------------------- */
main {
  grid-area: main;
  /* ------------- EFECTO GRADIENTE EN LOS CONTENEDORES APLICANDO MIXIN ------------- */
  /* -------------- PARRAFO GENERICO PARA LA MAYORIA DE LAS PAGINAS ---------------- */
  /* ------------------ ESTILOS MAIN HOME ------------------------ */
  /* ----------- PROPIEDADES EN EL CONTENEDOR APLICANDO MIXIN---------------- */
  /* ---------------------- MAIN EMPRESA ------------------------- */
  /* ----------PROPIEDADES PARA EL CONTENEDOR DE EMPRESA --------- */
  /* --------------------- MAIN TRABAJOS ------------------------- */
  /* ------------------------ MAIN BLOG -------------------------- */
  /* ----------- PROPIEDADES PARA EL CONTENEDOR DEL BLOG --------- */
  /* ---------------------- MAIN CONTACTO ------------------------- */
  /* -------------- PROPIEDADES PARA EL CONTENEDOR DE IMG APLICANDO MIXIN------------- */
  /* -------------- PROPIEDADES PARA EL FORM APLICANDO MIXIN ------------------ */
  /* -------------- PROPIEDADES PARA EL MAPA APLICANDO MIXIN ------------------ */
  /* ---------------- MAIN TERMINOS Y CONDICIONES ----------------- */
  /* ----------- PROPIEDADES PARA EL SECTION --------- */ }
  main .gradiente {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    background-image: linear-gradient(to right, #5A3673, #03A64A); }
    main .gradiente__subtitulo {
      font-size: 34px;
      font-weight: bold;
      color: #BAD94A;
      animation-duration: 3s;
      animation-name: aparecer;
      animation-iteration-count: infinite;
      /* -------------- ANIMACION EN H2 --------------------------- */ }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  main .p_generico {
    font-size: 16px;
    color: gray;
    font-weight: 600;
    text-align: justify;
    margin: 20px 20px 20px 20px; }
  main .slider {
    margin: auto;
    /* ------------------- H2 PARA CAROUSEL ------------------------ */
    /* ---------------- PARRAFO PARA CAROUSEL ---------------------- */ }
    main .slider__titulo {
      font-size: 34px;
      font-weight: bold;
      background: linear-gradient(rgba(255, 255, 255, 0), black); }
    main .slider__parrafo {
      font-size: 24px;
      background: linear-gradient(rgba(255, 255, 255, 0), black);
      font-weight: bold; }
  main .formato {
    text-align: center; }
    main .formato__icono {
      vertical-align: top;
      margin-bottom: 30px; }
    main .formato__h3 {
      font-size: 30px;
      color: #BAD94A;
      font-weight: bold;
      margin-bottom: 30px; }
    main .formato__p {
      font-size: 16px;
      color: gray;
      font-weight: bold;
      line-height: 28px;
      margin-bottom: 30px; }
    main .formato a {
      margin-bottom: 30px; }
  main .empresa {
    margin-top: 30px;
    margin-bottom: 30px;
    /* -------------- FORMATO PARA LAS IMG -------------------- */
    /* -------------- LINEA DE SEPARACION CON UN DIV APLICANDO MIXIN ----------- */ }
    main .empresa img {
      border-radius: 10px;
      width: 100%;
      vertical-align: top;
      object-fit: cover; }
    main .empresa .columna {
      margin: auto;
      /* -------------- H2 PARA SUBTITULO DE EMPRESA ------------ */
      /* -------------- PARRAFO PARA EMPRESA -------------------- */ }
      main .empresa .columna__titulo {
        font-size: 30px;
        margin: 30px auto 20px auto;
        font-weight: bold;
        color: #BAD94A;
        text-align: center; }
      main .empresa .columna__parrafo {
        font-size: 16px;
        color: gray;
        font-weight: 600;
        text-align: justify; }
    main .empresa .linea {
      border-top: 2px solid #03A64A;
      height: 4px;
      padding: 0;
      margin: 20px auto 20px auto; }
  main .formato {
    padding: auto;
    /* ----------- GRADIENTE RADIAL EN CONTENEDOR APLICANDO MIXIN---------------- */
    /* ----------- ESTILO PARA EL PARRAFO------------ */ }
    main .formato .radialGradiente {
      background-image: radial-gradient(circle, #5A3673, #03A64A);
      align-items: center;
      margin: 20px auto; }
      main .formato .radialGradiente__h3 {
        font-size: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        color: #BAD94A; }
    main .formato__parrafo {
      font-size: 16px;
      color: gray;
      font-weight: 600;
      text-align: justify;
      line-height: 25px;
      margin: 20px auto 20px auto; }
  main .blog {
    margin-top: 30px;
    margin-bottom: 30px;
    /* ------------- PROPIEDADES PARA EL CONTENEDOR ROW APLICANDO MIXIN--------- */ }
    main .blog .row {
      margin: 30px auto;
      /* ------------- FORMATO PARA LAS IMG ------------------ */ }
      main .blog .row img {
        border-radius: 100%;
        width: 100%;
        vertical-align: top;
        object-fit: cover; }
      main .blog .row .valor {
        margin: auto;
        /* ----------- GRADIENTE RADIAL EN CONTENEDOR APLICANDO MIXIN---------------- */
        /* ----- USO DE RADIAL-GRADIENTE CON PARÁMETRO ELLIPSE ------------- */
        /* -------- ESTILO PARA EL PARRAFO ------- */ }
        main .blog .row .valor .ellipseGradiente {
          background-image: radial-gradient(ellipse, #03A64A, #5A3673);
          align-items: center;
          margin: 20px auto; }
          main .blog .row .valor .ellipseGradiente__h3 {
            font-size: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: bold;
            color: #BAD94A;
            align-items: center;
            text-align: center; }
        main .blog .row .valor__parrafo {
          font-size: 16px;
          color: gray;
          font-weight: 600;
          text-align: justify;
          line-height: 25px;
          margin: 20px auto 20px auto; }
  main .img_contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 30px auto;
    /* ------------------ PROPIEDAD PARA LA IMG ------------------------- */ }
    main .img_contacto img {
      max-width: 50%;
      object-fit: cover; }
  main .formulario {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /* -------------- ESTILO PARA EL LABEL -------------------- */
    /* ----------- TRANSICION EN INPUT ----------------------------- */
    /* ----------- TRANSICION EN TEXTAREA -------------------------- */
    /* -------------- APLICNADO EXTEND ---------------- */ }
    main .formulario .etiqueta_form {
      font-size: 16px;
      color: #BAD94A;
      font-weight: bold;
      line-height: 34px; }
    main .formulario input {
      transition: all 2s; }
    main .formulario textarea {
      min-height: 120px;
      max-height: 300px;
      width: 60%;
      transition: all 2s; }
      main .formulario textarea:focus {
        border: 3px solid #BAD94A; }
    main .formulario input[type="text"],
    main .formulario input[type="email"],
    main .formulario textarea {
      width: 60%;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 3px;
      border: 1px solid #BAD94A;
      font-size: 16px; }
      main .formulario input[type="text"]:focus,
      main .formulario input[type="email"]:focus,
      main .formulario textarea:focus {
        border: 3px solid #BAD94A; }
    main .formulario .boton, main .formulario .submit, main .formulario .reset {
      width: 150px;
      margin: 0 auto;
      background: none;
      border: 1px solid #03A64A;
      color: #03A64A;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      border-radius: 3px;
      margin-bottom: 10px; }
    main .formulario .submit {
      background: #03A64A;
      color: #fff;
      border-radius: 4px;
      transition: 1s; }
      main .formulario .submit:hover {
        transform: scale(1.05); }
    main .formulario .reset {
      background: #03A64A;
      color: #fff;
      border-radius: 4px;
      transition: 1s; }
      main .formulario .reset:hover {
        transform: scale(1.05); }
  main .mapa_responsivo {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
    margin-top: 20px; }
    main .mapa_responsivo iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; }
  main .terminos_condiciones {
    margin-top: auto;
    padding: 5px 5px 5px 5px;
    text-align: center;
    /* ----- EFECTO GRADIENTE AL CONTENEDOR APLICANDO MIXIN --------- */ }
    main .terminos_condiciones .gradienteApp {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px auto;
      background-image: linear-gradient(to right, #5A3673, #03A64A);
      /* -------------- H2 PARA SUBTITULO DE CONTACTO -------------------- */ }
      main .terminos_condiciones .gradienteApp__h3 {
        font-size: 30px;
        font-weight: bold;
        color: #BAD94A; }

/* ------------- FOOTER PARA TODAS LAS PAGINAS -------------------- */
footer {
  grid-area: footer;
  width: 100%;
  background: #03A64A;
  padding: 10px 0;
  /* ----------------- PROPIEDADES EN EL CONTENEDOR PADRE APLICANDO MIXIN---------------- */ }
  footer .footer_padre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    footer .footer_padre .footer_info {
      margin: 10px auto; }
      footer .footer_padre .footer_info__h4 {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center; }
      footer .footer_padre .footer_info__link {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 5px 10px 5px 10px; }
        footer .footer_padre .footer_info__link:hover {
          background-color: #BAD94A;
          padding: 5px 5px 5px 5px; }
    footer .footer_padre .footer_logo {
      margin: 10px auto; }
    footer .footer_padre .footer_social {
      margin: 10px auto; }
      footer .footer_padre .footer_social__h4 {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center; }
      footer .footer_padre .footer_social a {
        width: 32px;
        height: 32px;
        font-size: 16px;
        color: #fff;
        margin: auto 20px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        transition: all .4s ease-in-out; }
        footer .footer_padre .footer_social a:hover {
          background-color: #BAD94A;
          transform: scale(1.2); }

/* ------- MEDIAS QUERIES PARA DISPOSITIVOS MOVILES - TABLETS - ESCRITORIO ----- */
/* ------- SI VARIABLE ES IGUAL A MOBILE APLICA EL MODO RESPONSIVO --------------*/
@media only screen and (max-width: 587px) {
  body {
    overflow-x: hidden; }
    body header {
      width: 100vw;
      height: 45vh; }
      body header nav {
        width: 100vw; }
        body header nav img {
          width: 35vw; }
      body header .titulos {
        display: none; }
    body main .container {
      margin-top: 20px; }
    body main .gradiente {
      display: none; }
    body main .img_contacto {
      display: none; }
    body main .mapa_responsivo {
      display: none; }
    body footer {
      width: 100vw;
      height: 45vh; }
      body footer .footer_padre {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body footer .footer_padre .footer_info {
          width: 100vw; }
        body footer .footer_padre .footer_logo {
          width: 100vw; }
          body footer .footer_padre .footer_logo img {
            width: 35vw; }
        body footer .footer_padre .footer_social {
          width: 100vw; } }

@media only screen and (max-width: 780px) {
  header {
    width: 100vw;
    height: 70vh; }
    header .titulos {
      width: 100vw;
      height: 30vh;
      padding-bottom: 50px; }
  footer {
    width: 100vw;
    height: 55vh; }
    footer .footer_padre {
      padding-top: 30px;
      padding-bottom: 0;
      flex-direction: column; } }

/* ------- SI VARIABLE ES IGUAL A DESKTOP APLICA EL ESCRITORIO --------------*/
@media only screen and (min-width: 992px) {
  .footer_padre {
    flex-direction: row; } }
