/* -------MEDIAS QUERIES PARA DISPOSITIVOS MOVILES - TABLETS - ESCRITORIO ----- */
@if $vistaMobile == mobile{
    @media only screen and (max-width:992px){
        footer{
            height: 30vh;
    
            .footer_padre{
                flex-direction: column;
            }
        }
    }
}

@if $vistaDesktop == desktop{
    @media only screen and (min-width:992px){
        .footer_padre{
            flex-direction: row;
        }
    }
}
