/* ---------------- VARIABLES -------------------*/

$colorUno: #fff;
$colorDos: gray;
$colorTres: #BAD94A;
$colorCuatro: #03A64A;
$colorCinco: #5A3673;
$fontSizeH1Header: 50px;
$fontSizeH2Header: 30px;
$fontSizeNavBar: 18px;
$fontSizeH2Gradiente: 34px;
$fontSizeTexto: 16px;
$fontSizeH2Carousel: 34px;
$fontSizePCarousel: 24px;
$fontSizeSubtitulo: 30px;
$fontSizeH3Radial: 26px;
$fontSizeH3Elipse: 20px;
$fontSizeH4Footer: 24px;
$vistaMobile: mobile;
$vistaDesktop: desktop;
