/* ---------------- VARIABLES -------------------*/
$colorUno: #fff;
$colorDos: gray;
$colorTres: #BAD94A;
$colorCuatro: #03A64A;
$colorCinco: #5A3673;
$colorSeis: #f7f7f7;
$fontSizeH1: 50px;
$fontSizeH2Gradiente: 30px;
$fontSizeTexto: 16px;
$fontSizeH2Carousel: 34px;
$fontSizePCarousel: 24px;
$fontSizeSubtitulo: 28px;
$fontSizeH2Elipse: 20px;
$fontSizeH4Footer: 24px;
$vistaMobile: mobile;
$vistaDesktop: desktop;
